spring.application.name=SERVICE_NAME
eureka.client.serviceUrl.defaultZone=https://PREFIX-discovery-server.azurewebsites.net:443/eureka
eureka.instance.hostname=PREFIX-${spring.application.name}.azurewebsites.net
eureka.instance.secure-port-enabled=true
eureka.instance.nonsecure-port-enabled=false